<!DOCTYPE html>
<html lang="en">
<title>{{ post.title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:wght@300">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Quicksand", sans-serif; font-size: 15pt;}
.mySlides {display: none}
.logoBg {
    background-image: url("images/logo/logo32.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    width: 100%;
  }
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card logoBg">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="index.html" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="map.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">BLOG</a>
    <a href="https://github.com/computoms" class="w3-bar-item w3-button w3-padding-large w3-hide-small">GITHUB</a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<!-- <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BAND</a>
  <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TOUR</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MERCH</a>
</div> -->

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <div class="w3-light-gray">
    <div class="w3-container w3-content w3-padding-32">
      <h1>Complete Map of Articles</h1>
      <p>
      The aim of this blog is to explain how a computer program works, from the high level architecture (program windows and buttons) to the very low-level components that form a computer.
      </p>
      <p>
      Rather than just presenting this information as a plain text bloc, the idea of this website is to present the information in a structured manner. Similarly to how we would think of the different parts that compose a program and how we would go from high-level abstractions to low-level details; the information presented go from high-level concepts (such as <a href="Storing Information on a Computer.html">how to store information in a computer?</a>) to low-level concepts (such as <a href="MOSFET Transistors.html">transistors</a> and <a href="Electric Force.html">electric forces</a>).  
      </p>
      <p>
        Below is presented the complete map of articles and their relationships with each other. Click on an article title to begin reading.
      </p>
      <h2>Most recent articles</h2>
      <p>Read the most recent articles <a href="news.html">here</a>.</p>
    </div>
  </div>

  <!-- The Graph Section -->
  <div id="tour" style="overflow-x: scroll;">
    <div class="w3-container w3-content w3-padding-32">
      <div class="w3-text-gray w3-small"><p>Use your mouse wheel to zoom in/out and click-drag the image to move on the graph.</p></div>
      {{ post.graph }}

      <!-- Buttons to Move SVG -->
      <div style="position: relative; top: -750px; left: 0px; background-color: white; width: 150px; border: 1px solid black;">
        <table>
          <tr>
            <td width="40"></td>
            <td width="30" align="center"><button onclick="pan(0,-100)" d="M25 45 l6 -10 a20, 35 0 0,1 -12,0z">&uarr;</button></td>
            <td width="40" align="center"></td>
            <td width="25" align="center"><button cx="25" cy="29.5" r="4" onclick="zoom(1.25)">+</button></td>
          </tr>
          <tr>
            <td width="40" align="center"><button onclick="pan(-100, 0)" d="M45 25 l-10 -6 a35 20 0 0 1 0 12z">&larr;</button></td>
            <td width="30" align="center"></td>
            <td width="40" align="center"><button onclick="pan(100, 0)" d="M5 25 l10 -6 a35 20 0 0 0 0 12z">&rarr;</button></td>
            <td width="25" align="center"></td>
          </tr>
          <tr>
            <td width="40" align="center"></td>
            <td width="30" align="center"><button onclick="pan(0, 100)" d="M25 5 l6 10 a20 35 0 0 0 -12 0z">&darr;</button></td>
            <td width="40" align="center"></td>
            <td width="25" align="center"><button cx="25" cy="20.5" r="4" onclick="zoom(0.8)">-</button></td>
          </tr>
        </table>
      </div>
      <!-- End of Move Buttons -->
    </div>
  </div>


  <script type="text/javascript">
    var transformMatrix = [1, 0, 0, 1, 0, 500];
    var svg = document.getElementsByTagName('svg')[0];
    var viewbox = svg.getAttributeNS(null, "viewBox").split(" ");
    var centerX = parseFloat(viewbox[2]) / 2;
    var centerY = parseFloat(viewbox[3]) / 2;
    var matrixGroup = svg.getElementById("graph0");
    matrixGroup.setAttributeNS(null, "transform", "matrix(" + transformMatrix.join(' ') + ")");

    svg.addEventListener("wheel", handle_wheel);
    svg.addEventListener("mousemove", handle_move);
    svg.addEventListener("mousedown", handle_down);
    svg.addEventListener("mouseup", handle_up);
    var isPressed = false;

    function handle_wheel(event) {
      event.preventDefault();
      zoom(1.0 + (event.deltaY * 0.01));
    }

    function handle_move(event) {
      if (isPressed) {
        event.preventDefault();
        pan(event.movementX, event.movementY);
      }
    }

    function handle_down(event) {
      isPressed = true;
    }

    function handle_up(event) {
      isPressed = false;
    }

    function pan(dx, dy) {
      transformMatrix[4] += dx;
      transformMatrix[5] += dy;
                
      var newMatrix = "matrix(" +  transformMatrix.join(' ') + ")";
      matrixGroup.setAttributeNS(null, "transform", newMatrix);
    }

    function zoom(scale) {
      for (var i = 0; i < 4; i++) {
        transformMatrix[i] *= scale;
      }
      transformMatrix[4] += (1 - scale) * centerX;
      transformMatrix[5] += (1 - scale) * centerY;
                
      var newMatrix = "matrix(" +  transformMatrix.join(' ') + ")";
      matrixGroup.setAttributeNS(null, "transform", newMatrix);
    }

    </script>

</body>
</html>

