<!DOCTYPE html>
<html lang="en">
<title>{{ post.title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:wght@300">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Quicksand", sans-serif; font-size: 15pt;}
.mySlides {display: none}
.logoBg {
    background-image: url("images/logo/logo32.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    width: 100%;
  }
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card logoBg">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/index.html" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="/map.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">BLOG</a>
    <a href="https://github.com/computoms" class="w3-bar-item w3-button w3-padding-large w3-hide-small">GITHUB</a>
    <a href="/blogs" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TECH BLOGS</a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navigationBar" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="/map.html" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BLOG</a>
  <a href="https://github.com/computoms" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">GITHUB</a>
  <a href="/blogs" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TECH BLOGS</a>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <div class="w3-light-gray">
    <div class="w3-container w3-content w3-padding-32">
      <h1>Complete Map of Articles</h1>
      <p>
      The aim of this blog is to explain how a computer program works, from the high level architecture (program windows and buttons) to the very low-level components that form a computer.
      </p>
      <p>
      Rather than just presenting this information as a plain text bloc, the idea of this website is to present the information in a structured manner. Similarly to how we would think of the different parts that compose a program and how we would go from high-level abstractions to low-level details; the information presented go from high-level concepts (such as <a href="Storing Information on a Computer.html">how to store information in a computer?</a>) to low-level concepts (such as <a href="MOSFET Transistors.html">transistors</a> and <a href="Electric Force.html">electric forces</a>).  
      </p>
      <p>
        Below is presented the complete map of articles and their relationships with each other. Click on an article title to begin reading.
      </p>
      <h2>Most recent articles</h2>
      <p>Read the most recent articles <a href="news.html">here</a>.</p>
    </div>
  </div>

  <!-- The Graph Section -->
  <div id="tour" style="overflow-x: scroll;">
    <div class="w3-container w3-content w3-padding-32">
      <div class="w3-text-gray w3-small"><p>Use your mouse wheel to zoom in/out and click-drag the image to move on the graph.</p></div>
      {{ post.graph }}

      <!-- Buttons to Move SVG -->
      <div style="position: relative; top: -700px; left: 50px; background-color: white; width: 85px; height: 50px; border: 0px solid black;">
        <svg style="margin-top: 5px;">
          <ellipse
              onclick="pan(-100,0)"
             ry="8"
             rx="8"
             cy="18"
             cx="7"
             id="path845"
             style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero" />
          <g onclick="pan(-100,0)" transform="matrix(1 0 0 1 5 10)">
          <path 
          d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </g>
          <ellipse
              onclick="pan(100,0)"
             ry="8"
             rx="8"
             cy="18"
             cx="43"
             id="path845"
             style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero" />
          <g onclick="pan(100,0)" transform="matrix(1 0 0 1 35 10)" background="white">
            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
          </g>
          <ellipse
              onclick="pan(0,-100)"
             ry="8"
             rx="8"
             cy="8"
             cx="28"
             id="path845"
             style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero" />
          <g onclick="pan(0, -100)" transform="matrix(1 0 0 1 20 0)">
            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
          </g>
          <ellipse
              onclick="pan(0,100)"
             ry="8"
             rx="8"
             cy="28"
             cx="28"
             id="path845"
             style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero" />
          <g onclick="pan(0, 100)" transform="matrix(1 0 0 1 20 20)">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
          </g>
          <ellipse
              onclick="zoom_center(1.25)"
             ry="8"
             rx="8"
             cy="8"
             cx="68"
             id="path845"
             style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero" />
          <g onclick="zoom_center(1.25)" transform="matrix(1 0 0 1 60 0)">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
            <rect
               y="3.1"
               x="5"
               height="4.3887711"
               width="5.9021401"
               style="fill:#000000;fill-opacity:1" />
            <rect
               style="fill:#000000;fill-opacity:1"
               width="5.9021401"
               height="4.3887711"
               x="5"
               y="8.5" />
          </g>
          <ellipse
              onclick="zoom_center(0.8)"
             ry="8"
             rx="8"
             cy="28"
             cx="68"
             id="path845"
             style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero" />
          <g onclick="zoom_center(0.8)" transform="matrix(1 0 0 1 60 20)">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
          </g>
        </svg>
      </div>
      <!-- End of Move Buttons -->
    </div>
  </div>


  <script type="text/javascript">
  function myFunction() {
    var x = document.getElementById("navigationBar");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else { 
      x.className = x.className.replace(" w3-show", "");
    }
  }


    var svg = document.getElementsByTagName('svg')[0];
    var viewbox = svg.getAttributeNS(null, "viewBox").split(" ");

    svg.addEventListener("wheel", handle_wheel);
    svg.addEventListener("mousemove", handle_move);
    svg.addEventListener("mousedown", handle_down);
    svg.addEventListener("mouseup", handle_up);
    var isPressed = false;

    function get_mouse_position_in_svg(event)
    {
      // Get mouse position in SVG Viewbox coordinates
      var pt = svg.createSVGPoint();
      pt.x = event.clientX;
      pt.y = event.clientY;
      return pt.matrixTransform(svg.getScreenCTM().inverse());
    }

    function handle_wheel(event) {
      event.preventDefault();
      var loc = get_mouse_position_in_svg(event);
      zoom(loc.x, loc.y, 1.0 + (event.deltaY * 0.01));
    }

    function handle_move(event) {
      if (isPressed) {
        event.preventDefault();
        var ptStart = get_mouse_position_in_svg(event);
        var ptEnd = get_mouse_position_in_svg(event);
        ptEnd.x += event.movementX;
        ptEnd.y += event.movementY;
        var locStart = ptStart.matrixTransform(svg.getScreenCTM().inverse());
        var locEnd = ptEnd.matrixTransform(svg.getScreenCTM().inverse());
        pan(locEnd.x - locStart.x, locEnd.y - locStart.y);
      }
    }

    function handle_down(event) {
      event.preventDefault();
      isPressed = true;
    }

    function handle_up(event) {
      event.preventDefault();
      isPressed = false;
    }

    function pan(dx, dy) {
      viewbox[0] -= dx;
      viewbox[1] -= dy;
      svg.setAttributeNS(null, "viewBox", viewbox.join(' '));
    }

    function zoom(x, y, scale) {
      viewbox[0] -= (x - viewbox[0]) * (scale - 1);
      viewbox[1] -= (y - viewbox[1]) * (scale - 1);
      viewbox[2] *= scale;
      viewbox[3] *= scale;
      svg.setAttributeNS(null, "viewBox", viewbox.join(' '));
    }

    function zoom_center(scale) {
      var x = parseInt(viewbox[0])
      var y = parseInt(viewbox[1])
      var width = viewbox[2];
      var height = viewbox[3];
      var centerX = x + (width / 2.0);
      var centerY = y + (height / 2.0);

      zoom(centerX, centerY, scale);
    }

    </script>

</body>
</html>

