---
layout: default
---


<div id="header">
  <div class="top">
    {%- include logo.html -%}
    {%- include nav-main.html nav-sub='nav-categories.html' -%}
  </div>
  <div class="bottom">
    {%- include social_icons.html -%}
  </div>
</div>


<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}

	{%- for _category in site.blog-categories -%}
		{%- assign _category-number-posts = site.categories[_category.category].size -%}
		{%- capture _title -%}
			<h3 id="{{ _category.title }}"><a href="{{ _category.url }}">{{ _category.title }}</a></h3>
		{%- endcapture -%}
		{%- capture _subtitle -%}
			<p>{{ _category-number-posts }} post{%- if _category-number-posts > 1 -%}s{%- endif -%}</p>
		{%- endcapture -%}
		{%- capture _excerpt -%}
			<table>
				{%- assign _posts = site.categories[_category.category]  -%}
				{%- for _post in _posts limit:5 -%}
					<tr>
						<td><a href="{{- _post.url | absolute_url -}}">{{ _post.title }}</a></td>
						<td>{{ _post.date | date_to_long_string }}</td>
					</tr>
				{%- endfor -%}
			</table>
			<a href="{{ _category.url | absolute_url }}">...</a>
		{%- endcapture -%}
		{%- assign _content = _excerpt -%}
		{%- include section.html title=_title subtitle=_subtitle content=_content -%}
	{%- endfor -%}
</div>