---
layout: default
---
{%- assign _posts = site.posts | sort: 'date' | reverse -%}
{%- assign _categories = site.categories -%}


<div id="header">
  <div class="top">
    {%- include logo.html -%}
    {%- include nav-main.html nav-sub='nav-categories.html' -%}
  </div>
  <div class="bottom">
    {%- include social_icons.html -%}
  </div>
</div>


<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}

	{%- for _category in _categories -%}
		{%- assign _category-title = _category | first -%}
		{%- assign _category-number-posts = _category[1].size -%}
		{%- capture _title -%}
			<h3 id="{{ _category-title }}">{{ _category-title }}</h3>
		{%- endcapture -%}
		{%- capture _subtitle -%}
			<p>{{ _category-number-posts }} post{%- if _category-number-posts > 1 -%}s{%- endif -%}</p>
		{%- endcapture -%}
		{%- capture _excerpt -%}
			<p>
				{%- assign _posts = _category[1] | sort: 'date' | reverse -%}
				{%- for _post in _posts limit:5 -%}
					<a href="{{- _post.url | absolute_url -}}">{{ _post.title }}</a><br/>
				{%- endfor -%}
			</p>
			<p><a href="{{ site.url }}/categories/{{- _category-title -}}">...</a></p>
		{%- endcapture -%}
		{%- assign _content = _excerpt -%}
		{%- include section.html title=_title subtitle=_subtitle content=_content -%}
	{%- endfor -%}
</div>